@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title NMC Music Store</h2>

<address>
    1701 E. Front St.<br />
    Traverse City, MI 49686<br />
    <abbr title="Phone">P:</abbr>
    800.748.0566
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@NMCMusicStore.com">Support@NMCMusicStore.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@NMCMusicStore.com">Marketing@NMCMusicStore.com</a>
</address>