@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1 class="gradient-multiline">NMC Music Store</h1>
    <p class="lead">Hello here you can order from a variety of different and unique sounds for your enjoyment.</p>
</div>
